.home-container {
    padding: 25px;
    height: 90vh;
    overflow-y: auto;
}

.current-path {
    color: rgb(137, 125, 111);
}

.counter-div {
    display: flex;
    width: 100%;
    gap: 15px;
}

.counter-div-child {
    display: flex;
    background-color: white;
    flex: 1;
    margin: 10px 0 10px 0;
    padding: 20px;
    border: 1px solid #e6e1e1;
    border-radius: 5px;
}

.counter-div-child-middle {
    background-color: white;
    flex: 1;
    margin: 10px 0 10px 0;
    padding: 20px;
    border: 1px solid #e6e1e1;
    border-radius: 5px;
}

.counter-div-child h2 {
    float: right;
}

.counter-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(250, 228, 210);
    margin-right: auto;
    color: rgb(247, 106, 4);
}

.left-graph,
.right-graph {
    width: 30%;
}

.graph-container {
    width: 500px;
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
    border: 1px solid #e6e1e1;
    border-radius: 8px;
    margin: 10px 0 10px 0;

}

.graph-container h3 {
    margin: 20px;
}

.monthly-status {
    display: flex;
    margin-top: 15px;
}

.monthly-status-child {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 1;
    padding: 20px;
    border: 1px solid #e6e1e1;
    border-radius: 5px;
}

.monthly-sub-child {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
}

.monthly-count {
    color: rgb(38, 112, 38);
    font-size: 13px;
}

.monthly-p {
    font-size: 13px;
    font-family: fantasy;
    margin-top: 5px;
}

.status-bar {
    width: 100%;
    height: 5px;
    background-color: #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.status-fill {
    height: 100%;
    width: 70%;
    background-color: #fa7324;
}

.green {
    background-color: rgb(64, 148, 64);
}

.yellow {
    background-color: rgb(200, 185, 13);
}

.blue {
    background-color: rgb(18, 124, 238);
}

.pink {
    background-color: rgb(210, 129, 142);
}

.color-dot-completed {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: #64be64;
    border-radius: 50%;
    color: white;
}

.color-dot-hold {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: #7274eb;
    border-radius: 50%;
    color: white;
}

.color-dot-inprog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: #eaba0b;
    border-radius: 50%;
    color: white;
}

.color-dot-review {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: #fa7324;
    border-radius: 50%;
    color: white;
}

.dot {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.task-stat-div {
    display: flex;
    flex-direction: column;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.task-li {
    display: flex;
    align-items: center;
}

.task-count {
    margin-left: auto;
}

.tasks-list p {
    padding: 7px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.absent-div {
    display: flex;
    background-color: white;
    flex: 1;
    margin: 10px 0 10px 0;
    padding: 20px;
    border: 1px solid #e6e1e1;
    border-radius: 5px;
    flex-direction: column;
}

.absent-count {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    color: rgb(239, 6, 6);
    width: 25px;
    height: 25px;
    border-radius: 6px;
    background-color: rgb(249, 195, 186);
}

.status-holder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.stat {
    display: flex;
    flex-direction: column;
}

.stat-state {
    padding: 10px;
    background-color: white;
    border: 1px solid #e6e1e1;
    border-radius: 8px;
    margin-top: 10px;
}

.stat-p,
.stat-p-ratio {
    font-size: 12px;
}

.stat-p-ratio {
    font-family: 'Courier New', Courier, monospace;
}

.employee-avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #fff;
}

.btn-more {
    border-radius: 10px;
    background: #e8a34e;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}

.btn-more:focus {
    outline: none;
}

.btn-more {
    margin-left: 30%;
    margin-top: 30px;
}

.absent-div-header {
    display: flex;
}

.absent-info {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin-top: 15px;
    border: 1px solid #e6e1e1;
}

.absent-avater-name {
    display: flex;
    align-items: center
}

.absent-leave-stat {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.leave-date {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(88, 88, 88);
}

.date-of-leave {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.leave-status-pending,
.leave-status-approved {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.leave-status-pending {
    background-color: rgb(254, 149, 101);
}

.leave-status-approved {
    background-color: rgb(89, 200, 89);
}

.invoice-payment {
    display: flex;
    gap: 15px;
}

.invoice {
    border: 1px solid white;
    background-color: rgb(242, 242, 242);
    border-radius: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 20px;
}

.invoice-p {
    padding: 15px;
}

.table-invoice {
    background-color: white;
    border-collapse: collapse;
    font-family: fantasy;
    white-space: nowrap;
}

.table-invoice th {
    font-size: 13px;
    text-align: left;
    color: rgb(44, 44, 44);
}

.table-invoice th,td {
    border-bottom: 1px solid #ddd;
    padding: 13px;
}

.table-invoice td {
    padding: 12px;
    font-size: 13px;
    color: rgb(73, 72, 72);
}
td{
    text-align: center;
}
.table-btn-more {
    font-family: fantasy;
    font-size: 13px;
    display: flex;
    justify-content: center;
}

.table-btn-more {
    cursor: pointer;
    margin: 9px;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    margin-bottom: 7px;
}

td.status-payed {
    color: #64be64;
}

td.status-partial {
    color: #ffb701;
}

td.status-unpaid {
    color: rgb(154, 1, 1);
}
td.project{
    text-align: left;
    
}
td.project p{
    padding: 5px;
}
.edit-button{
    border: none;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
  }